<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | Not Gr / blackmann</title>
    <link rel="stylesheet" href="main.css"/>
    <meta name="description"
          content="I'm De-Great. A Senior Frontend Developer. I primarily work with Javascript and Rust. Experiment a lot on random stuff and keep the office vibes going."/>
    <meta name="theme-color" content="#efefef"/>
</head>
<body>

<header></header>
<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col-66">
                <div class="ph-1">
                    <h1>{{ title }}</h1>
                    <p class="text-gray">Written 21 Feb 2022 &mdash; Continue with <a href="/">Publishing the Mongo Dashboard</a>
                    </p>

                    <article>
                        {{ content }}
                    </article>
                </div>
            </div>

            <div class="col-33 ph-1 stealth">
                <div class="ph-1">
                    <h5 class="fs-1 ml-1">Continue Reading…</h5>

                    <ul>
                        <li>
                            <div class="rounded bg-light-hover p-1 cursor-pointer">
                                <h6 class="fs-1 fw-medium mt-0">Keeping the remote office lively 🍾</h6>
                            </div>
                        </li>
                        <li>
                            <div class="rounded bg-light-hover p-1 cursor-pointer">
                                <h6 class="fs-1 fw-medium mt-0 text-gray">Designing a Mongo Dashboard for the Terminal
                                    &mdash; <small class="text-gray font-primary fw-normal">Part 1</small></h6>
                            </div>
                        </li>
                        <li>
                            <div class="rounded bg-light-hover p-1 cursor-pointer">
                                <h6 class="fs-1 fw-medium mt-0">Practice Planning, Stash Coding for Later</h6>
                            </div>
                        </li>
                        <li>
                            <div class="rounded bg-light-hover p-1 cursor-pointer">
                                <h6 class="fs-1 fw-medium mt-0">Learning Rust and Beating the Ownership and
                                    Borrowing Monster &mdash; <small class="text-gray font-primary fw-normal">Hadn't been easy</small>
                                </h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>