$border-radius: 8px;
$gray: #777777;
$light: #eaeaea;
$dark: #1e1e1e;

$font-primary: 'Helvetica Neue', Arial, sans-serif;
$font-secondary: "Space Grotesk", sans-serif;

@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap';

::selection {
  background: #ffe39f;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

article {

  p, li {
    line-height: 1.6rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  a {
    color: black;
    font-weight: 500;
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
  }
}

blockquote {
  margin-left: 0;
  border-left: 5px solid $light;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1.3rem;
  color: $gray;
  line-height: 1.8rem;
}

body {
  font-family: $font-primary;
  margin: 0;
}

button {
  border: 0;
  background: white;
  font-size: 1rem;
  cursor: pointer;
}

code {
  background-color: $light;
  padding: 3px;
  border-radius: 3px;
}

footer {
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  color: #1c1c1c;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

main {
  margin-bottom: 2rem;
}

table {
  width: 100%;

  th, td {
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid $light;
    padding-right: 2rem;
    vertical-align: top;
  }
}

.animate-list-entry {
  counter-increment: list-counter;
  animation-name: list-entry;
  animation-duration: 420ms;
  animation-fill-mode: forwards;
  opacity: 0;

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
}

.bg-light-hover {
  transition: background-color 300ms ease-out;

  &:hover {
    background-color: $light;
  }
}

.bg-secondary-light {
  background-color: #fff3e6;
}

.border-bottom-light {
  border-bottom: 1px solid $light;
}

.border-light-gray {
  border-right: 1px solid #dcdcdc;
}

// Discord's brand color
.bg-blurple {
  background-color: #5865F2;
}

.bounce-target-on-hover {

  &:hover {
    .bounce-target {
      animation: bounce 1200ms infinite ease-in-out;
    }
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content-navigation {
  position: static;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
  flex: 0 0 auto;
}

.col-40 {
  width: 40%;
  flex: 0 0 auto;
}

.col-60 {
  width: 60%;
  flex: 0 0 auto;
}

.col-35 {
  width: 35%;
  flex: 0 0 auto;
}

.col-65 {
  width: 65%;
  flex: 0 0 auto;
}

.col-66 {
  width: 66.66%;
  flex: 0 0 auto;
}

.col {
  flex: 1 1;
}

.cursor-pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.experiment-link {
  $alternate-time: 820ms;

  .test-tube {
    display: inline-block;
  }

  &:hover {
    .link-text {
      background: linear-gradient(45deg, $gray, #f3e768, #a0f368, $gray);
      background-size: 200% auto;
      -webkit-animation: swipe-background $alternate-time ease infinite alternate-reverse;
      -moz-animation: swipe-background $alternate-time ease infinite alternate-reverse;
      animation: swipe-background $alternate-time ease infinite alternate-reverse;
      -webkit-background-clip: text;
      background-clip: text;
      text-fill-color: white;
      -webkit-text-fill-color: transparent;
    }

    .test-tube {
      animation: swing-backforth 1200ms ease-in-out infinite alternate-reverse;
    }
  }
}

.fade-up {
  animation: fade-up 800ms ease-out;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fw-bold {
  font-weight: bold;
}

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-normal {
  font-weight: 400;
}

.freeze-height {
  max-height: 80vh;
}

.home-link {
  display: flex;
  align-items: center;
  color: $gray;
  transition: color 300ms ease-out;

  &:hover {
    color: #1c1c1c;

    &::before {
      right: -6px;
    }
  }

  &::before {
    content: '\21A9\FE0E';
    margin-right: 0.5rem;
    position: relative;
    top: 3px;
    right: 0;
    transition: right 200ms ease-out;
  }
}

.horizontal-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hover-dark {
  color: $gray;
  transition: color 300ms ease-out;

  &:hover {
    color: $dark;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.nav-main {
  display: flex;
  justify-content: space-between;

  .more {
    color: black;
    &::after {
      content: "\2630";
      margin-left: 0.50rem;
    }

    &.active {
      position: absolute;
      top: -3px;
      right: 1rem;
      z-index: 110;
      color: $gray;

      &::after {
        content: "\2192";
        margin-left: 0.50rem;
      }
    }
  }
}

.p-1 {
  padding: 1rem;
}

.ph-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: $border-radius;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.square {
  aspect-ratio: 1;
}

.stealth {
  opacity: 0.4;
  transition: opacity 300ms ease-out;

  &:hover {
    opacity: 1;
  }
}

.table-wrapper {
  overflow-x: scroll;
}

.text-gray {
  color: $gray;
}

.text-light {
  color: rgba(#fff, 0.65)
}

.text-white {
  color: #fff;
}

.w-100 {
  width: 100%;
}

// Animations

@keyframes swipe-background {
  to {
    background-position: 200% center;
  }
}

@keyframes swing-backforth {
  0% {
    transform: rotate(0deg)
  }

  30% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes list-entry {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10%); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2%); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

// Visibility

.d-block-mobile {
  display: none;
}

// Other breakpoints 768, 1024
@media screen and (max-width: 480px) {
  .col-35, .col-40, .col-60, .col-65, .col-66, .col-33 {
    width: 100%;
  }

  .d-block-mobile {
    display: block;
  }

  .content-navigation {
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100%;
    width: 100%;
    background-color: white;
    z-index: 100;
    transition: left 240ms ease-out;
    border-bottom: 1px solid $light;

    &.stealth {
      opacity: 1;
    }

    &.active {
      left: 0;
    }
  }

  .content {
    &.hide {
      display: none;
    }
  }
}
