<div class="container mt-3">
    <div class="row">
        <div class="col-65">
            <div class="ph-1">
                <p class="fs-2 fw-light mr-2 fade-up">I'm De-Great a <em class="font-secondary fw-medium">Senior
                        Frontend
                        Developer</em>
                    currently working at Varsity Tutors. I love to <em class="fw-medium font-secondary">experiment a
                        lot</em> and
                    this year, my focus is on Rust 🦀 and Physics with Javascript.</p>


                <ul class="horizontal-list my-5">
                    <li class="rounded p-1" style="font-size: 1.2rem"><a class="hover-dark" href="https://github.com/blackmann">github</a></li>
                    <li class="rounded p-1" style="font-size: 1.2rem"><a class="hover-dark" href="https://twitter.com/__degreat">twitter</a></li>
                    <li class="rounded p-1" style="font-size: 1.2rem"><a class="hover-dark" href="https://instagram.com/__degreat">instagram</a></li>
                    <li class="rounded p-1" style="font-size: 1.2rem">
                        <a class="hover-dark experiment-link" href="/experiments/synced-lyrics"><span class="test-tube">🧪</span> <span class="link-text">my experiments</span></a>
                    </li>
                </ul>

                <h5 class="fs-1 ml-1 font-primary text-gray">Read my thoughts 👇🏼</h5>

                <ul>
                    {% for post in posts %}
                        <li class="animate-list-entry">
                            <a href="/posts/{{ post.meta.slug }}.html"
                               class="d-block rounded bg-light-hover p-1 cursor-pointer">
                                    <span class="fs-1 fw-medium mt-0" style="font-size: 1.2rem">
                                        {{ post.meta.title }}
                                    </span>
                                {% if post.meta.title_meta %}
                                    &mdash; <small
                                        class="text-gray font-primary fw-normal">{{ post.meta.title_meta }}</small>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-35">
            <div class="ph-1">
                <h5 class="fs-1 ml-1">Spotlight 🔦</h5>

                <ul>

                    <li class="mb-1">
                        <div class="bg-light-hover rounded p-1 bg-secondary-light">
                            <h6 class="mt-0"><a href="/posts/resume.html">📕 &nbsp; My Resume &mdash;</a> <span
                                        class="text-gray font-primary fw-normal">XP and skills</span></h6>
                        </div>
                    </li>

                    <li class="mb-1">
                        <a href="https://discord.gg/5CDnysz"
                           class="rounded p-1 d-flex d-block bg-blurple text-white fw-medium font-secondary bounce-target-on-hover">
                            <img class="mr-2 bounce-target" src="/static/icons/icon_clyde_white.svg"
                                 alt="Discord" width="40">
                            <div>
                                <span>discord.gg/notgr</span> <br>
                                <small class="font-primary fw-normal text-light">Come let's talk</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="bg-light-hover rounded p-1 d-flex">

                            <div>
                                <h6 class="mt-0"><a href="https://adeton.io">Adeton</a></h6>
                                <p class="text-gray">I founded Adeton, an ecommerce enabler. Think Shopify, but simplified for the
                                    Ghanaian
                                    merchant.</p>

                                <p class="mb-0"><small><a href="https://adeton.io"
                                                          class="text-gray">Homepage</a></small> &nbsp;
                                    <small><a
                                                href="https://instagram.com/adetonhq"
                                                class="text-gray">Instagram</a></small></p>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="bg-light-hover rounded p-1">
                            <h6 class="mt-0 d-flex flex-space-between flex-align-center"><a
                                        href="https://github.com/blackmann/story_view">story_view</a> <span>⭐️ 300+</span>
                            </h6>
                            <p class="text-gray">Add stories to your Flutter app just like Whatsapp and Instagram. You
                                can also add
                                inline
                                stories just like
                                Google News. </p>
                            <p class="mb-0"><small><a href="https://github.com/blackmann/story_view" class="text-gray">Open
                                        Source</a></small>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="bg-light-hover rounded p-1">
                            <h6 class="mt-0 d-flex flex-space-between flex-align-center"><a
                                        href="https://github.com/blackmann/overlapping_panels">overlapping_panels</a>
                                <span>⭐️ 12+</span></h6>
                            <p class="text-gray">Discord inspired navigation for Flutter apps</p>
                            <p class="mb-0"><small><a href="https://github.com/blackmann/overlapping_panels"
                                                      class="text-gray">Open
                                        Source</a></small></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>